
*{
    font-family: 'Poppins', sans-serif;

}

.carding{
   background-color: rgb(51, 73, 80);
   border-radius: 5px;
   padding: 40px;
   color: rgb(224, 224, 224);
    height: 540px;
    border: 2px solid blue;
    margin:20px
}
 .cards-align{
    text-align: center;
    margin-bottom: 50px;
} 
